.logo {
    padding: 10px;
  }

.head {
    display: flex;
    background-image: url('../Images/hero_image.png');
    height: 999px;
    width: 100%;
}

.nav {
    display: flex;
    padding: 20px;
  }

.right {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

.menu {
    padding: 25px;
    align-items: right;
  }

.ml-auto {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.foot {
  height: 400px;
  width: 100%;
  text-align: left;
}